<div class="layout overflow-hidden">
    <nav class="navigation d-flex flex-column text-center navbar navbar-light hide-scrollbar">

        <!-- Nav items -->
        <ul class="d-flex nav navbar-nav flex-row flex-xl-column flex-grow-1 justify-content-between justify-content-xl-center align-items-center w-100 py-4 py-lg-2 px-lg-3" role="tablist">
            <!-- Invisible item to center nav vertically -->
            <li class="nav-item d-none d-xl-block invisible flex-xl-grow-1">
                <a class="nav-link py-0 py-lg-8" href="./Messenger - 2.0.0_files/chat-group.html" title="">
                    <div class="icon icon-xl">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                    </div>
                </a>
            </li>

            <!-- Sign-Out -->
            <!-- <li class="nav-item d-none d-xl-block">
                <a (click)="logout()" class="nav-link py-0 py-lg-8 custom-message" title="Sign-Out" data-bs-toggle="tab" role="tab" aria-selected="false">
                    <div class="icon icon-xl">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-lock"><rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect><path d="M7 11V7a5 5 0 0 1 10 0v4"></path></svg>
                    </div>
                </a>
            </li> -->

            <!-- Profile -->
            <li class="nav-item">
                <a href="./Messenger - 2.0.0_files/chat-group.html" class="nav-link p-0 mt-lg-2" data-bs-toggle="modal" data-bs-target="#modal-profile">
                    <div class="avatar avatar-online mx-auto d-none d-xl-block">
                        <img class="avatar-img" src="./assets/avatar/{{ userData.photo }}.png" alt="">
                    </div>
                    <div class="avatar avatar-online avatar-xs d-xl-none">
                        <img class="avatar-img" src="./assets/avatar/{{ userData.photo }}.png" alt="">
                    </div>
                </a>
            </li>
        </ul>
    </nav>
    <aside class="sidebar bg-light">
        <div class="tab-content h-100" role="tablist">
            <!-- Chats -->
            <div class="tab-pane fade h-100 show active" id="tab-content-chats" role="tabpanel">
                <div class="d-flex flex-column h-100 position-relative">
                    <div class="hide-scrollbar">
                        <div class="container py-8">
                            <!-- Title -->
                            <div class="mb-8">
                                <h2 class="fw-bold m-0">Members</h2>
                            </div>
                            <!-- Search -->
                            <div class="mb-6">
                                <form>
                                    <div class="input-group">
                                        <div class="input-group-text">
                                            <div class="icon icon-lg">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
                                            </div>
                                        </div>

                                        <input type="text" [(ngModel)]="search" name="search" class="form-control form-control-lg ps-0" placeholder="Search names of users">
                                    </div>
                                </form>
                            </div>
                            <!-- Chats -->
                            <div class="card-list">
                                <!-- Card -->
                                <a *ngFor="let user of userList" class="card border-0 text-reset">
                                    <div *ngIf="search.trim() === '' || user.userName.toLowerCase().includes(search.toLowerCase())" class="card-body">
                                        <div class="row align-items-center gx-5">
                                            <div class="col-auto">
                                                <div [ngClass]="user.isOnline === true? 'avatar-online avatar mx-auto d-none d-xl-block' : 'avatar-offline avatar mx-auto d-none d-xl-block' ">
                                                    <img src="./assets/avatar/{{ user.photo }}.png" alt="" class="avatar-img">
                                                </div>
                                            </div>
                                            <div class="col">
                                                <h5>{{ user.userName }}</h5>
                                                <p>{{ user.email }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <!-- Card -->
                            </div>
                            <!-- Chats -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </aside>


    <main class="main is-visible" data-dropzone-area="">
        <div class="container h-100">
            <div class="d-flex flex-column h-100 position-relative">
                <div *ngIf="!isConnected" class="alert alert-danger text-center custome-no-border-radius">
                    <b>Connection error:</b> Cannot connect to the server. Please check your internet connection and try again later.
                </div>
                <!-- Chat: Header -->
                <div class="chat-header border-bottom py-4 py-lg-7">
                    <div class="row align-items-center">

                        <!-- Mobile: close -->
                        <div class="col-2 d-xl-none">
                            <a class="icon icon-lg text-muted" href="#" data-toggle-chat="">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-left"><polyline points="15 18 9 12 15 6"></polyline></svg>
                            </a>
                        </div>
                        <!-- Mobile: close -->

                        <!-- Content -->
                        <div class="col-8 col-xl-12">
                            <div class="row align-items-center text-center text-xl-start">
                                <!-- Title -->
                                <div class="col-12 col-xl-6">
                                    <div class="row align-items-center gx-5">

                                        <div class="col overflow-hidden">
                                            <h5 class="text-truncate">Group Chat</h5>
                                            <p *ngIf="isConnected" class="text-truncate">Online</p>
                                            <p *ngIf="!isConnected" class="text-truncate">Offline</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- Title -->

                                <!-- Toolbar -->
                                <div class="col-xl-6 d-none d-xl-block">
                                    <div class="row align-items-center justify-content-end gx-6">
                                        <div class="col-auto">
                                            <div class="avatar-group">
                                                <a *ngFor="let user of userList">
                                                    <a *ngIf="user.isOnline === true" class="avatar avatar-sm">
                                                        <img class="avatar-img" src="./assets/avatar/{{ user.photo }}.png" alt="#">
                                                    </a>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Toolbar -->
                            </div>
                        </div>
                        <!-- Content -->

                        <!-- Mobile: more -->
                        <div class="col-2 d-xl-none text-end">
                            <a href="#" class="icon icon-lg text-muted" data-bs-toggle="offcanvas" data-bs-target="#offcanvas-more" aria-controls="offcanvas-more">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical"><circle cx="12" cy="12" r="1"></circle><circle cx="12" cy="5" r="1"></circle><circle cx="12" cy="19" r="1"></circle></svg>
                            </a>
                        </div>
                        <!-- Mobile: more -->

                    </div>
                </div>
                <!-- Chat: Header -->

                <!-- Chat: Content -->
                <div class="chat-body hide-scrollbar flex-1 h-100">
                    <div class="chat-body-inner">
                        <div class="py-6 py-lg-10">

                            <div *ngFor="let chat of chatList">
                                <!-- Message -->
                                <div *ngIf="chat.user.userId !== userData.userId" class="message mb-4">
                                    <a class="avatar avatar-responsive">
                                        <img class="avatar-img" src="./assets/avatar/{{ chat.user.photo }}.png" alt="">
                                    </a>
                                    <div class="message-inner">
                                        <div class="message-body">
                                            <div class="message-content">
                                                <div class="message-text">
                                                    <p>{{ chat.message }}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="message-footer">
                                            <span class="extra-small text-muted">{{ formatTimestamp(chat.timestamp) }}</span>
                                        </div>
                                    </div>
                                </div>

                                <!-- Message -->
                                <div *ngIf="chat.user.userId === userData.userId" class="message message-out mb-4">
                                    <a class="avatar avatar-responsive">
                                        <img class="avatar-img" src="./assets/avatar/{{ chat.user.photo }}.png" alt="">
                                    </a>
                                    <div class="message-inner">
                                        <div class="message-body">
                                            <div class="message-content">
                                                <div class="message-text">
                                                    <p>{{ chat.message }}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="message-footer">
                                            <span class="extra-small text-muted">{{ formatTimestamp(chat.timestamp) }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div *ngIf="chatList.length === 0 && typingData === undefined" class="d-flex flex-column h-100 justify-content-center">
                                <div class="text-center mb-6">
                                    <span class="icon icon-xl text-muted">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-send"><line x1="22" y1="2" x2="11" y2="13"></line><polygon points="22 2 15 22 11 13 2 9 22 2"></polygon></svg>
                                    </span>
                                </div>
                                <p class="text-center text-muted">No messages yet, <br> start the conversation!</p>
                            </div>

                            <div *ngIf="typingData !== undefined" class="message mb-4">
                                <a class="avatar avatar-responsive">
                                    <img class="avatar-img" src="./assets/avatar/{{ typingData.user.photo }}.png" alt="">
                                </a>
                                <div class="message-inner">
                                    <div class="message-body">
                                        <div class="message-content">
                                            <div class="message-text">
                                                <p>{{ typingData.user.name }} is typing..</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="chatBox" style="height: 80px"></div>

                        </div>
                    </div>
                </div>
                <!-- Chat: Content -->

                <!-- Chat: Footer -->
                <div class="chat-footer pb-3 pb-lg-7 position-absolute bottom-0 start-0">
                    <!-- Chat: Files -->
                    <div class="dz-preview bg-dark" id="dz-preview-row" data-horizontal-scroll="">
                    </div>
                    <!-- Chat: Files -->

                    <!-- Chat: Form -->
                    <form class="chat-form rounded-pill bg-dark" data-emoji-form="">
                        <div class="row align-items-center gx-0">
                            <div class="col">
                                <div class="input-group">
                                    <input type="text" (input)="input()" [(ngModel)]="message" name="message" class="form-control px-0" placeholder="Type your message..." rows="1" data-emoji-input="" data-autosize="true" style="overflow: hidden; overflow-wrap: break-word; resize: none; height: 47px; margin-left: 24px"
                                    />
                                </div>
                            </div>
                            <div class="col-auto">
                                <button (click)="send()" class="btn btn-icon btn-primary rounded-circle ms-5">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-send"><line x1="22" y1="2" x2="11" y2="13"></line><polygon points="22 2 15 22 11 13 2 9 22 2"></polygon></svg>
                                </button>
                            </div>
                        </div>
                    </form>
                    <!-- Chat: Form -->
                </div>
                <!-- Chat: Footer -->
            </div>

        </div>
    </main>

</div>