<div class="container">
    <div class="row align-items-center justify-content-center min-vh-100 gx-0">

        <div class="col-12 col-md-8 col-lg-6">
            <div class="card card-shadow border-0">
                <div class="card-body">
                    <div class="row g-6">
                        <div class="col-12">
                            <div class="text-center">
                                <h3 class="fw-bold mb-2">Sign In</h3>
                                <p>Login to your account</p>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="form-floating">
                                <input type="email" class="form-control" id="signin-email" placeholder="Email">
                                <label for="signin-email">Email</label>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="form-floating">
                                <input type="password" class="form-control" id="signin-password" placeholder="Password">
                                <label for="signin-password">Password</label>
                            </div>
                        </div>

                        <div class="col-12">
                            <button class="btn btn-block btn-lg btn-primary w-100" type="submit">Sign In</button>
                        </div>


                        <div class="col-6">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <div class="row align-items-center gx-5">
                                        <div class="col-2">
                                            <div class="form-check form-switch" style="padding: 0px">
                                                <input name="photo" class="form-check-input" type="radio" value="panda" checked="">
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <a class="avatar"><img class="avatar-img" src="./assets/avatar/panda.png" alt=""></a>
                                        </div>
                                        <div class="col">
                                            <h5>Panda</h5>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row align-items-center gx-5">
                                        <div class="col-2">
                                            <div class="form-check form-switch" style="padding: 0px">
                                                <input name="photo" class="form-check-input" type="radio" value="cheetah">
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <a class="avatar"><img class="avatar-img" src="./assets/avatar/cheetah.png" alt=""></a>
                                        </div>
                                        <div class="col">
                                            <h5>Cheetah</h5>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row align-items-center gx-5">
                                        <div class="col-2">
                                            <div class="form-check form-switch" style="padding: 0px">
                                                <input name="photo" class="form-check-input" type="radio" value="antelope">
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <a class="avatar"><img class="avatar-img" src="./assets/avatar/antelope.png" alt=""></a>
                                        </div>
                                        <div class="col">
                                            <h5>Antelope</h5>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row align-items-center gx-5">
                                        <div class="col-2">
                                            <div class="form-check form-switch" style="padding: 0px">
                                                <input name="photo" class="form-check-input" type="radio" value="bear">
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <a class="avatar"><img class="avatar-img" src="./assets/avatar/bear.png" alt=""></a>
                                        </div>
                                        <div class="col">
                                            <h5>Bear</h5>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-6">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <div class="row align-items-center gx-5">
                                        <div class="col-2">
                                            <div class="form-check form-switch" style="padding: 0px">
                                                <input name="photo" class="form-check-input" type="radio" value="bird">
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <a class="avatar"><img class="avatar-img" src="./assets/avatar/bird.png" alt=""></a>
                                        </div>
                                        <div class="col">
                                            <h5>Bird</h5>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row align-items-center gx-5">
                                        <div class="col-2">
                                            <div class="form-check form-switch" style="padding: 0px">
                                                <input name="photo" class="form-check-input" type="radio" value="bull">
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <a class="avatar"><img class="avatar-img" src="./assets/avatar/bull.png" alt=""></a>
                                        </div>
                                        <div class="col">
                                            <h5>Bull</h5>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row align-items-center gx-5">
                                        <div class="col-2">
                                            <div class="form-check form-switch" style="padding: 0px">
                                                <input name="photo" class="form-check-input" type="radio" value="elephant">
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <a class="avatar"><img class="avatar-img" src="./assets/avatar/elephant.png" alt=""></a>
                                        </div>
                                        <div class="col">
                                            <h5>Elephant</h5>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row align-items-center gx-5">
                                        <div class="col-2">
                                            <div class="form-check form-switch" style="padding: 0px">
                                                <input name="photo" class="form-check-input" type="radio" value="fawn">
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <a class="avatar"><img class="avatar-img" src="./assets/avatar/fawn.png" alt=""></a>
                                        </div>
                                        <div class="col">
                                            <h5>Fawn</h5>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Text -->
            <div class="text-center mt-8">
                <p>Don't have an account yet? <a href="./signup.html">Sign up</a></p>
                <p><a href="./password-reset.html">Forgot Password?</a></p>
            </div>
        </div>
    </div>
    <!-- / .row -->
</div>